<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">
<h1>Create Event</h1>

<header th:replace="fragments :: header"></header>

<!--  <p th:text="${errorMsg}" style="color : red;"></p>-->
<form method="post">
    <div class="form-group">
        <label>Name
            <input type="text" th:field="${event.eventName}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.eventName}"></p>
    </div>
        <div class="form-group">
            <label>Description
            <input th:field="${event.eventDescription}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDescription}"></p>
        </div>
      <div class="form-group">
        <label>Address
            <input th:field="${event.eventAddress}"class="form-control">
        </label>
          <p class="error" th:errors="${event.eventAddress}"></p>
      </div>
      <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}"class="form-control">
        </label>
          <p class="error" th:errors="${event.contactEmail}"></p>
      </div>
    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>

</body>
</html>