<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Events</h1>

<header th:replace="fragments :: header"></header>

<p th:unless="${events} and ${events.size()}">No Events!</p>
<table class="table table-striped">
    <tr><th:block th:each="event:${events}"></th:block>
            <th>ID</th>
            <th>Event Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>

    <th:block th:each="eventVariable:${events}">
        <tr>
            <td th:text="${eventVariable.getId}"></td>
            <td th:text="${eventVariable.getEventName()}"></td>
            <td th:text="${eventVariable.getEventDescription()}"></td>
            <td th:text="${eventVariable.getEventAddress()}"></td>
<!--            <td th:replace="fragments :: address"></td>-->
    </th:block>
        </tr>
</table>

<!--    <tr  th:each="event : ${events}">-->
<!--        <td th:text="${event}"></td>-->
<!--    </tr>-->
</table>

</body>
</html>
